/* ForgotPassword.css */

.forgot-password-container {
  display:flex;
  justify-content: center;
  align-items: center;
  height: 80vh; 
  background-color: #fdfbfb;
  margin-left: 20px;
  margin-right: 80px;
}

.forgot-form-wrapper {
  max-width: 400px;
  width: 100%;
  padding: 24px;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
}

.forgot-form {
  display: flex;
  flex-direction: column;
}

.forgot-form h2 {
  text-align: center;
  margin-bottom: 20px;
}

.forgot-form label {
  margin-bottom: 6px;
  font-weight: bold;
}

.forgot-form input {
  padding: 10px;
  margin-bottom: 16px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.forgot-form button {
  padding: 12px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
}

.forgot-form button:hover {
  background-color: #0056b3;
}

.success-msg {
  color: green;
  text-align: center;
  margin-top: 10px;
}

.error-msg {
  color: red;
  text-align: center;
  margin-top: 10px;
}
